body {
    background-color: #87ef72;
    background: -webkit-linear-gradient(45deg, #c9ed18, #25ebe5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #c9ed18, #25ebe5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #c9ed18, #25ebe5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #c9ed18, #25ebe5); /* Standard syntax */
    background-attachment:fixed;
}

span.up {
    font-size: 60%;
    vertical-align:super;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.2);
}

a {
    color: #07c;
}

a:hover {
    color: #07c;
    text-decoration: none;
}

hr {
    border-color: rgba(0, 0, 0, 0.5);
}

footer {
    color: rgba(0, 0, 0, 0.5);
}

footer a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}
